* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
}

.resume-left {
    width: 900px;
    background: #fff;
    margin-top: -55px;
    margin-left: -10px;
}

.left-side {
    background: linear-gradient(135deg, #da6720 0%, #ebd96b 100%);
    color: #fff;
    width: 600px;
    padding: 95px;
    position: absolute;
    height: 1350px;
    margin-left: -50px;
    margin-top: -525px;
    border-radius: 20px;
}

.photo {
    width: 295px;
    margin-left: -775px;
    margin-top: -530px;
    position: absolute;
    background: #ffffff;
    border-radius: 600px;
    z-index: 15;
}

.personal-info {
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    margin-left: 50px;
    color: #000;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 2px rgba(240, 234, 234, 0.1);
    background-color: #ffffff;
    margin-top: 250px;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 240px;
    font-family: 'Poppins', sans-serif;
}

.contact-info ul {
    list-style: none;
    font-size: 16px;
    line-height: 2;
    margin-top: 20px;
}

.information {
    margin-left: -820px;
    margin-top: 820px;
    position: absolute;
}

.information h2 {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #000000;
}

.information hr {
    border: 0;
    border-top: 1px solid #fff;
    width: 80%;
    margin-bottom: 10px;
}

.information p,
.information ul {
    font-size: 16px;
    line-height: 1.8;
    color: white;
}

.dots1 {
    display: flex;
    gap: 7px;
    margin-left: 130px;
    margin-top: -5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fffdfa;
}

.dot.filled {
    background-color: #000000;
    margin-top: -13px;
}

.dot {
    margin-top: -13px;
}

.content {
    position: absolute;
    top: 70px;
    right: 50px;
    width: 1300px;
    height: 200px;
    background: linear-gradient(135deg, #fffdfd 0%, #ebd96b 100%);
    z-index: 2;
    border-radius: 60px;
}

.name h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
}

.text p {
    margin-left: -300px;
    font-size: 20px;
    line-height: 2.5em;
    width: 750px;
    font-family: 'Poppins', sans-serif;
}

.text h2 {
    margin-left: -300px;
    top: 360px;
    font-size: 56px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

.text hr {
    margin-left: -300px;
    width: 700px;
    margin-top: 160px;
}

.hobbies {
    position: absolute;
    margin-top: 990px;
    margin-right: -440px;
}

.hobbies h2 {
    font-size: 56px;
}

.hobby-card {
    margin-top: 60px;
    border-radius: 15px;
    padding: 11px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 600px;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 25px;
}

.hobby-card:hover {
    background: linear-gradient(135deg, #eea113 30%, #ffd900 50%);
}

.footer {
    background-color: #000000;
    padding: 40px 0;
    width: 1905px;
    margin-left: 0px;
    margin-top: 1900px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #000;
    border-radius: 15px;
}

.footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-left: 300px;
    margin-top: 50px;
}

.footer-brand p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #8e8e8e;
    line-height: 1.6;
    max-width: 350px;
    margin-left: 0;
    margin-left: -109px;
}

.facebook {
    margin-left: 1200px;
    height: 70px;
    width: 70px;
}

.insta {
    margin-left: 40px;
    height: 70px;
    width: 70px;
}

.link {
    margin-left: 40px;
    height: 70px;
    width: 70px;
}

.twitter {
    margin-left: 40px;
    height: 70px;
    width: 70px;
}

.logos {
    margin-top: -50px;
}
