* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
}

.resume {
    display: flex;
    width: 900px;
    background: #fff;
}

.left {
    background: linear-gradient(135deg, #d48d60 0%, #f05865 100%);
    color: #fff;
    width: 600px;
    padding: 95px;
    position: absolute;
    height: 1290px;
    margin-left: -260px;
    margin-top: -550px;
    border-radius: 20px;
}

.profile-pic {
    width: 250px;
    height: 250px;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 40px auto;
    margin-left: 100px;
    margin-top: -50px;
    position: absolute;
    z-index: 3; /*#команда которая ставит круг выше но без "position" absolute работать не будет*/
}

.photo {
    width: 295px;
    margin-left: -22px;
    margin-top: -19px;
}

.contact-info {
    margin-bottom: 20px;
    margin-top: 240px;
    font-family: 'Poppins', sans-serif;
}

.contact-info ul {
    list-style: none;
    font-size: 16px;
    line-height: 1.8;
    margin-top: 20px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
}

.section hr {
    border: 0;
    border-top: 1px solid #fff;
    width: 80%;
    margin-bottom: 10px;
}

.section p,
.section ul {
    font-size: 16px;
    line-height: 1.5;
}

.section ul {
    list-style: none;
}

.right {
    width: 900px;
    padding: 30px 40px;
    position: absolute;
    margin-left: 550px;
    margin-top: -1030px;
}

.banner {
    position: absolute;
    top: -170px;
    left: -350px;
    width: 1200px;
    height: 190px;
    background: linear-gradient(135deg, #fffdfd 0%, #fa6742 100%);
    border-top-left-radius: 20px;
    z-index: 1;
    border-radius: 60px;
}

.content {
    position: absolute;
    z-index: 1;
    margin-top: 130px;
    width: 560px;
}

.content h2 {
    color: #000;
    font-size: 56px;
    margin-bottom: 5px;
    z-index: 2;
}

.exp {
    margin-top: 120px;
    width: 900px;
}

.ref {
    margin-top: 60px;
}

.h2name {
    margin-top: -275px;
    margin-left: 130px;
}

.content hr {
    border: 0;
    border-top: 1px solid #000;
    margin-bottom: 10px;
    width: 400px;
    z-index: 2;
}

.worki {
    font-size: 20px;
}

.content p {
    font-size: 14px;
    color: #333;
    margin-bottom: 25px;
    line-height: 1.6;
    z-index: 2;
}

.dots1 {
    display: flex;
    gap: 7px;
    margin-left: 130px;
    margin-top: -5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d0cbc4;
}

.dot.filled {
    background-color: #c0ff2d;
    margin-top: -13px;
}

.dot {
    margin-top: -13px;
}

.language {
    margin-bottom: 30px;
}

.language h2 {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.language hr {
    border: 0;
    border-top: 1px solid #fff;
    width: 80%;
    margin-bottom: 10px;
}

.language p,
.language ul {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 7px;
}

.perinf {
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    margin-left: 50px;
    color: #000;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 2px rgba(240, 234, 234, 0.1);
    background-color: #ffffff;
}

.hobby-card {
    border-radius: 15px;
    padding: 11px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
